## Perkenalan
Nama  : Wawan Setiawan Syamsul
Batch : HCK - 6

## Import Pandas Library

In [8]:
import pandas as pd

## Data Loading

Import Excel File

In [9]:
df = pd.read_excel('NMC1-9.xlsx')

Dataframe

In [3]:
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

## Answer

Create Function Hambatan & Resistansi

In [5]:
def hambatan(a,b):
  return a/b

def resistansi(a,b):
  return a*b

Create New Column w/ Conditional Looping

In [6]:
hasil = []
for index,row in df.iterrows():
  if row['Cap'] >= 2.5:
    c = resistansi(row['V_m'],row['Current (A)'])
    hasil.append(c)
  else:
    d = hambatan(row['V_m'],row['Current (A)'])
    hasil.append(d)
df["R/P"] = hasil
df

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
0            0  4.098        0.997      1  2.840817  4.085706
1            1  4.096        0.998      1  2.840817  4.087808
2            2  4.094        0.999      1  2.840817  4.089906
3            3  4.093        0.998      1  2.840817  4.084814
4            4  4.092        0.999      1  2.840817  4.087908
...        ...    ...          ...    ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012
90978    90978  2.504        1.002      9  2.770180  2.509008
90979    90979  2.502        1.002      9  2.770180  2.507004
90980    90980  2.500        1.002      9  2.770180  2.505000
90981    90981  2.497        1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

Find Mean

In [22]:
new_dataset = df[(df['Current (A)'] ==1)]
e = new_dataset['Cap'].mean()

## Result

In [23]:
print('Nilai rata-rata kapasitas arus bernila 1 A adalah', e)

Nilai rata-rata kapasitas arus bernila 1 A adalah 2.8066364223305484